 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Skill Tree : Electronics</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/6.0.0-beta3/css/all.min.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <h1>ELECTRONICS</h1>
    <div class="svg-container"></div>
    </div>
</body>
</html>