<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/authstyle.css">
  <script src="/js/login.js"></script>
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form method="POST" action="/users/login">
      <input type="text" id="username" placeholder="Nombre de usuario" required>
      <input type="password" id="password" placeholder="Contraseña" required>
      <button type="button" id="loginButton">Iniciar Sesión</button>
    </form>

     <!-- Link to Register Page -->
     <p>No tienes una cuenta? <a href="register.html">Regístrate aquí</a></p>
    <div id="message"></div>
  </div>
</body>
</html>
