<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/leaderboard.js"></script>
</head>
<body>
<h1 class="leaderboard-title">Leaderboard</h1>
<table class="leaderboard-table">
    <thead>
    <tr>
        <th class="leaderboard-rango">Rango</th>
        <th class="leaderboard-badge">Badge</th>
        <th class="leaderboard-bitpoints">Required Bitpoints</th>
    </tr>
    </thead>
    <tbody id="leaderboard-body">
    </tbody>
</table>
</body>
</html>