<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= skillTreeName %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
<%- include('partials/username-display') %>
<h1>ELECTRONICS</h1>
<% if (admin) { %>
    <button class="add-skill-button" id="createButton">Añadir competencia</button>
<% } %>
<div class="svg-container"></div>
</body>
</html>