<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= skillTreeName %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js"></script>
</head>
<body>
<div class="user-panel">
  <span id="welcomeMessage">Welcome, <strong></strong>!</span> |
  <span>Skill Trees: <a href="/skills/electronics">electronics</a></span> |
  <a href="#leaderboard">Leaderboard</a> |
  <a href="#about">About</a> |
  <a href="/users/logout" id="logoutButton">Logout</a>
</div>
<h1>ELECTRONICS</h1>
<div class="svg-container"></div>
</body>
</html>