<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/authstyle.css">
    <script src="/js/register.js"></script>
</head>
<body>

<!-- Form Container -->
<div class="form-container">
    <h2>Crea una cuenta</h2>

    <div id="message"></div>

    <!-- Register Form -->
    <form id="registerForm">
        <input type="text" id="username" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required>
        <button type="button" id="registerButton">Registrarse</button>
    </form>

    <!-- Link to Login Page -->
    <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a></p>
</div>

</body>
</html>