<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill description</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script type="module" src="/js/skillspecifics.js" defer></script>
</head>
<body>
<div class="skill-details">
    <button id="backButton" class="backButton">Volver</button>
    <div class="page-simulation">
        <table class="skill-table">
            <tr>
                <td class="hexagon-column">
                    <div class="hexagon-container"></div>
                </td>
                <td class="info-column">
                    <h2 id="title" class="info-header"></h2>
                    <h3 id="skillScore">Skill score: 1 point</h3>
                    <h3 id="description"> Description </h3>
                    <p id="descriptionText" class="descriptionText"> Description of the skill not developed yet </p>
                    <h3>Task to Complete</h3>
                    <ul class="checkbox-list">
                        <li><input type="checkbox" class="checkbox" id="task1"><label for="task1">Tarea 1</label></li>
                        <li><input type="checkbox" class="checkbox" id="task2"><label for="task2">Tarea 2</label></li>
                        <li><input type="checkbox" class="checkbox" id="task3"><label for="task3">Tarea 3</label></li>
                        <li><input type="checkbox" class="checkbox" id="task4"><label for="task4">Tarea 4</label></li>
                        <li><input type="checkbox" class="checkbox" id="task5"><label for="task5">Tarea 5</label></li>
                    </ul>
                    <h6 id="textBoxTitle" class="textBoxTitle">Provide Evidence</h6>
                    <form>
                        <input type="text" id="textBox"
                               placeholder="Enter an URL or an explanation as evidence for completing this skill">
                        <button id="buttonSubmit" class="buttonSubmit">Submit Evidences</button>
                    </form>
                    <h3>Resources</h3>
                    <ul class="list">
                        <li>Resources 1</li>
                        <li>Resources 2</li>
                        <li>Resources 3</li>
                    </ul>
                    <div id="evidenceTableContainer">
                        <table id="evidenceTable">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Evidence</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Evidence rows will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>